/**
* @title 公共类的位置
*/
@import 'utils';
$theme-color: #1989fa;
body{
  font-size: 28px;
}
$primary-color: #2c6dfb;
$orange: #fe7b17; // 强调色
$black: #242e39; // 重点文字
$color: #6b7d99; // 一般文字
$money: #EE0A24;  // 钱的颜色

.small-btn{
  // @include wh(40px);
  width: 120px;
  height: 60px;
}
.f-text{
  color: $black;
  font-size: 26px;
}

.mt-16 {
  margin-top: 0.16rem;
}

.bg-w {
  background-color: #fff;
}

.color-blue {
  color: #0f48c1;
}

.color-gray {
  color: #bdb5bd;
}

.color-orange {
  color: $orange;
}

.invest-container {
  .invest-banner img {
    height: 300px;
  }

  .card {
    padding: 0.2rem;
    background-color: #fff;

    .card-title {
      font-size: 0.34rem;
      // color: #6b7d99;
      margin-bottom: 0.2rem;
      .icon {
        color: #e89d4c;
        font-size: 0.35rem;
      }
    }
    .card-item {
      box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.2);
      border-radius: 0.24rem;
      overflow: hidden;
      margin-bottom: 0.25rem;
    }
    .cart-item-img {
      width: 100%;
      height: 3.5rem;
      vertical-align: bottom;
    }
    .desc {
      font-size: 28px;
      background: #0f51a0;
      color: #fff;
      padding: 12px;
    }

    .card-desc {
      font-size: 0.12rem;
      line-height: 2;
      padding: 10px 30px;
    }

    .img-box {
      position: relative;
    }
  }
}

.process .percent_box {
  flex: 1;
  height: 0.03rem;
  border-radius: 0.02rem;
  background: #e9f0ff;
}

.process .percent {
  height: 100%;
  background: linear-gradient(270deg, #40a4f2 0%, #3d67e8 100%);
}

.percent-num {
  color: #2d73ff;
  font-size: 0.12rem;
  line-height: 0.17rem;
  margin-left: 0.18rem;
}
// details

.invest-detail {
  .banner img {
    width: 100%;
    height: 300px;
  }
  .desc {
    font-size: 28px;
    background: #0f51a0;
    color: #fff;
    padding: 12px;
  }

  .statistics {
    padding: 0 16px;
    .statistics-item {
      padding-top: 0.2rem;
      text-align: center;
    }
    font-size: 0.16rem;
    .title {
      color: #787878;
      margin-bottom: 0.2rem;
    }
  }

  .details {
    .item {
      border-bottom: 1px solid #e3e4e5;

      padding-top: 0.2rem;
      padding-bottom: 0.1rem;
      & > span:nth-of-type(1) {
        color: #666666;
      }
      & > span:nth-of-type(2) {
        color: #a1a2a3;
      }
    }
  }

  .process.bg-w {
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  .submit-btn-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}
