/**
* @title 公共类的位置
*/
@import 'utils';
$theme-color: #1989fa;
body {
  font-size: 28px;
}
$primary-color: #2c6dfb;
$orange: #fe7b17; // 强调色
$black: #242e39; // 重点文字
$color: #6b7d99; // 一般文字
$money: #ee0a24; // 钱的颜色

.small-btn {
  // @include wh(40px);
  width: 120px;
  height: 60px;
}
.f-text {
  color: $black;
  font-size: 26px;
}

.mt-16 {
  margin-top: 0.16rem;
}

.bg-w {
  background-color: #fff;
}

.color-blue {
  color: #0f48c1;
}

.color-gray {
  color: #bdb5bd;
}

.color-orange {
  color: $orange;
}

.invest-container {
  .invest-banner img {
    height: 300px;
  }
}

.process .percent_box {
  flex: 1;
  height: 0.03rem;
  border-radius: 0.02rem;
  background: #e9f0ff;
}

.process .percent {
  height: 100%;
  background: linear-gradient(270deg, #40a4f2 0%, #3d67e8 100%);
}

.percent-num {
  color: #2d73ff;
  font-size: 0.12rem;
  line-height: 0.17rem;
  margin-left: 0.18rem;
}
// details

.invest-detail {
  .banner img {
    width: 100%;
    height: 300px;
  }
  .desc {
    font-size: 28px;
    background: #0f51a0;
    color: #fff;
    padding: 12px;
  }

  .statistics {
    padding: 0 16px;
    .statistics-item {
      padding-top: 0.2rem;
      text-align: center;
    }
    font-size: 0.16rem;
    .title {
      color: #787878;
      margin-bottom: 0.2rem;
    }
  }

  .details {
    .item {
      border-bottom: 1px solid #e3e4e5;

      padding-top: 0.2rem;
      padding-bottom: 0.1rem;
      & > span:nth-of-type(1) {
        color: #666666;
      }
      & > span:nth-of-type(2) {
        color: #a1a2a3;
      }
    }
  }

  .process.bg-w {
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  .submit-btn-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}

.card {
  padding: 0.2rem;
  background-color: #fff;

  .card-title {
    font-size: 0.34rem;
    // color: #6b7d99;
    margin-bottom: 0.2rem;
    .icon {
      color: #e89d4c;
      font-size: 0.35rem;
    }
  }
  .card-item {
    box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.2);
    border-radius: 0.24rem;
    overflow: hidden;
    margin-bottom: 50px !important;
  }

  .cart-item-img {
    width: 100%;
    height: 3.5rem;
    vertical-align: bottom;
  }
  .desc {
    font-size: 28px;
    background: #0f51a0;
    color: #fff;
    padding: 12px;
  }

  .card-desc {
    font-size: 0.12rem;
    line-height: 2;
    padding: 10px 30px;
  }

  .img-box {
    position: relative;
  }
}


.activity img {
  margin-top: 16px;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

// ======= table
.fund_wrap{
  background: #f2f2f2;
}

.fund_wrap .table tr {
  width: 100%;
}

.fund_wrap .table .header {
  width: 100%;
  // height: 34px;
  background-image: -webkit-gradient(linear, left top, right top, from(#666666), to(#262627));
  background-image: -o-linear-gradient(left, #666666, #262627);
  background-image: linear-gradient(to right, #666666, #262627);
  border: 0;
}

.fund_wrap .table tr .first {
  border-radius: 10px 0 0 10px;
}

.fund_wrap .table tr .last {
  border-radius: 0 10px 10px 0;
  border: 0;
}

.fund_wrap .table tr th {
  font-size: 14px;
  color: #e8c27d;
  width: 33.333%;
  border-right: 1px solid #666666;
}

.fund_wrap .table .tab.tab_2 {
  border-left: 1px solid #7B7B7B;
  border-right: 1px solid #7B7B7B;
}

.fund_wrap .table {
  table-layout: fixed;
  width: 92%;
  margin: 15px auto;
}

.fund_wrap .table tbody tr {
  margin: 0 auto;
  border-bottom: 1px solid #EDEDED;
  background: #fff;
}

.fund_wrap .table tbody tr td {
  padding: 0 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 25%;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 10px;
  padding-top: 24px;
  color: #333333;
}

.fund_wrap .table tbody tr td .button{
  background: #e8c27d;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 5px;
  color: white;
}

.fund_wrap .table tbody tr .td_3 {
  color: #dfba7b;
}

.nav-bar-container {
  padding-top: 92px;
  min-height: 100vh;
}